* {
  box-sizing: border-box;
  font-family: "Inter Regular";
}

@font-face {
  font-family: "Akkurat Pro";
  src: url("./Fonts/akkuratpro-regular-webfont.ttf");
}

@font-face {
  font-family: "Inter Regular";
  src: url("./Fonts/Inter-Regular.ttf");
}

@font-face {
  font-family: "Inter Light";
  src: url("./Fonts/Inter-Light.ttf");
}

@font-face {
  font-family: "Inter Medium";
  src: url("./Fonts/Inter-Medium.ttf");
}

@font-face {
  font-family: "ITC Avant Garde";
  src: url("./Fonts/ITCAvantGardePro-Md.ttf");
}

.section-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  flex-wrap: wrap;
  background-color: #fff9fc;
  padding-top: 100px;

  --title-font-size: 44px;
  --subtitle-font-size: 20px;
  --sm-card-title-font-size: 20px;
  --lg-card-title-font-size: 22px;
  --white-card-title-font-size: 25px;
  --white-card-subtitle-font-size: 17px;
  --card-content-font-size: 18px;
  --card-large-text-font-size: 80px;

  //TODO: make these real values
  @media screen and (max-width: 768px) {
    --title-font-size: 30px;
    --subtitle-font-size: 16px;
    --sm-card-title-font-size: 16px;
    --lg-card-title-font-size: 18px;
    --white-card-title-font-size: 20px;
    --white-card-subtitle-font-size: 14px;
    --card-content-font-size: 14px;
    --card-large-text-font-size: 60px;
  }

  @media screen and (max-width: 480px) {
    --title-font-size: 30px;
    --subtitle-font-size: 16px;
    --sm-card-title-font-size: 16px;
    --lg-card-title-font-size: 18px;
    --white-card-title-font-size: 20px;
    --white-card-subtitle-font-size: 14px;
    --card-content-font-size: 14px;
    --card-large-text-font-size: 60px;
  }

  * {
    flex: 100%;
    max-width: 1200px;
  }

  .sm-card {
    flex: 50%;
  }

  .title {
    font-family: "ITC Avant Garde";
    font-size: var(--title-font-size);
    color: #11385b;
    margin: 0 20px 30px 20px;
  }

  .subtitle {
    font-family: "Inter Light";
    font-size: var(--subtitle-font-size);
    color: #6a7b8a;
    max-width: 800px;
    margin: 0 20px 33px 20px;
  }

  .lg-card {
    height: 580px;
    position: relative;
    margin: 33px 0;
    background-image: linear-gradient(135deg, #ff004dbf 0%, #ff8a48e3 60%);
  }

  .lg-card,
  .sm-card {
    border-radius: 25px;
    padding: 50px;
    box-shadow: 0 10px 23px rgba(79, 111, 174, 0.1);
    @media screen and (max-width: 1200px) {
      border-radius: 0;
    }
  }

  .card-1 {
    .lg-1-text-1 {
      font-family: "Inter Light";
      font-size: var(--title-font-size);
      color: #FFF9FC;
      margin: 105px 0 0 5px;
      position: absolute;
      max-width: 473px;
      letter-spacing: -2.5%;
    }

    .lg-1-text-2 {
      font-family: "Inter Medium";
      font-size: var(--card-large-text-font-size);
      color: #FFF9FC;
      margin: 0 0 20px 0;
      position: absolute;
      bottom: 0;
      right: 0;

      --intitial-bottom-margin: 87px;
      --initial-right-margin: 77px;

      margin-bottom: 87px;
      margin-right: 77px;
      &:nth-child(2) {
        margin-bottom: calc(87px + 44px + 23px);
        margin-right: 168px;
      }
      &:nth-child(3) {
        margin-bottom: calc(87px + 44px + 23px + 44px + 23px);
        margin-right: 307px;
      }
    }

    &::before {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      --line-start: 45%;
      // huge
      background: linear-gradient(
        135deg,
        #00000000 calc(var(--line-start) - 2px),
        #fff9fc var(--line-start),
        #00000000 calc(var(--line-start) + 2px)
      );
    }

    &::after {
      content: "";
      display: block;
      position: absolute;
      right: 0;
      top: 0;
      height: 100%;
      width: 489px;
      background-repeat: no-repeat;
      background-size: contain;
      border-radius: 25px;
      background: url("./Graphics/lotus.svg");
    }
  }
}
