* {
  box-sizing: border-box;
  font-family: "Inter Regular";
}

@font-face {
  font-family: "Akkurat Pro";
  src: url("./Fonts/akkuratpro-regular-webfont.ttf");
}

@font-face {
  font-family: "Inter Regular";
  src: url("./Fonts/Inter-Regular.ttf");
}

@font-face {
  font-family: "Inter Light";
  src: url("./Fonts/Inter-Light.ttf");
}

@font-face {
  font-family: "Inter Medium";
  src: url("./Fonts/Inter-Medium.ttf");
}

@font-face {
  font-family: "ITC Avant Garde";
  src: url("./Fonts/ITCAvantGardePro-Md.ttf");
}

.section-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  flex-wrap: wrap;
  background-color: #fff9fc;
  padding-top: 100px;

  --card-content-color: #7483a0;
  --card-title-color: #ffffff;

  --title-font-size: 44px;
  --subtitle-font-size: 20px;
  --sm-card-title-font-size: 20px;
  --lg-card-title-font-size: 22px;
  --white-card-title-font-size: 25px;
  --white-card-subtitle-font-size: 17px;
  --card-content-font-size: 18px;
  --card-large-text-font-size: 80px;

  @media screen and (max-width: 1200px) {
    --card-large-text-font-size: 60px;
  }

  //TODO: make these real values
  @media screen and (max-width: 768px) {
    --title-font-size: 30px;
    --subtitle-font-size: 16px;
    /* --sm-card-title-font-size: 16px; */
    /* --lg-card-title-font-size: 18px; */
    --white-card-title-font-size: 20px;
    --white-card-subtitle-font-size: 14px;
    /* --card-content-font-size: 14px; */
    --card-large-text-font-size: 60px;
  }

  * {
    flex: 100%;
    max-width: 1200px;
  }

  .title {
    font-family: "ITC Avant Garde";
    font-size: var(--title-font-size);
    color: #11385b;
    margin: 0 20px 30px 20px;
  }

  .subtitle {
    font-family: "Inter Light";
    font-size: var(--subtitle-font-size);
    color: #6a7b8a;
    max-width: 800px;
    margin: 0 20px 33px 20px;
  }

  .lg-card,
  .sm-card {
    border-radius: 25px;
    padding: 50px;
    margin: 33px 0;
    box-shadow: 0 10px 23px rgba(79, 111, 174, 0.1);
  }

  .lg-card {
    height: 580px;
    position: relative;
    @media screen and (max-width: 1200px) {
      border-radius: 0;
    }

    @media screen and (max-width: 950px) {
      margin: 0;
    }
  }

  .sm-card {
    flex: 50%;
    max-width: 576px;
    height: 640px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media screen and (max-width: 1200px) {
      max-width: 48%;
    }

    @media screen and (max-width: 950px) {
      flex: 100%;
      max-width: 950px;
      border-radius: 0;
      margin: 0;
    }
  }

  .sm-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
  }

  .card-1 {
    background-image: linear-gradient(135deg, #ff004dbf 0%, #ff8a48e3 60%);
    .lg-1-text-1 {
      font-family: "Inter Light";
      font-size: var(--title-font-size);
      color: #fff9fc;
      margin-top: 155px;
      margin-left: 4.5%;
      position: absolute;
      top: 0;
      left: 0;
      max-width: 473px;
      letter-spacing: -2.5%;

      @media screen and (max-width: 1200px) {
        font-size: 32px;
        margin-left: 3%;
      }
    }
    .lg-1-text-2 {
      font-family: "Inter Medium";
      font-size: var(--card-large-text-font-size);
      color: #fff9fc;
      margin: 0 0 20px 0;
      position: absolute;
      bottom: 0;
      right: 0;

      --intitial-bottom-margin: 70px;
      --right-margin-1: 6.4%;
      --right-margin-2: 14%;
      --right-margin-3: 25.5%;
      --bottom-margin-increment: calc(50px + 23px);

      margin-bottom: var(--intitial-bottom-margin);
      margin-right: var(--right-margin-1);
      &:nth-child(2) {
        margin-bottom: calc(
          var(--intitial-bottom-margin) + (2 * var(--bottom-margin-increment))
        );
        margin-right: var(--right-margin-3);
      }
      &:nth-child(3) {
        margin-bottom: calc(
          var(--intitial-bottom-margin) + var(--bottom-margin-increment)
        );
        margin-right: var(--right-margin-2);
      }
    }

    &::before {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      --line-start: 45%;
      pointer-events: none;
      // huge
      background: linear-gradient(
        135deg,
        #00000000 calc(var(--line-start) - 2px),
        #fff9fc var(--line-start),
        #00000000 calc(var(--line-start) + 2px)
      );
    }

    &::after {
      content: "";
      display: block;
      position: absolute;
      right: 0;
      top: 0;
      height: 100%;
      pointer-events: none;
      width: 489px;
      background-repeat: no-repeat;
      background-size: contain;
      border-radius: 25px;
      background: url("./Graphics/lotus.svg");
    }
  }

  .card-2 {
    background: linear-gradient(
      195deg,
      rgba(27, 91, 255, 0.749),
      rgba(2, 248, 233, 0.8784)
    );
    --card-content-color: #e0f0ff;
  }

  .card-3 {
    --card-title-color: #ff6359;
    border: #dfe5f3 1px solid;
  }

  .card-4 {
    background: linear-gradient(
      120deg,
      rgba(66, 3, 247, 0.8784) 15%,
      rgba(255, 87, 87, 0.69)
    );
    --card-content-color: #ffffff;
    overflow: hidden;
    box-sizing: border-box;

    .text-area {
      max-width: 476px;
      position: absolute;
      bottom: 100px;
      left: 60px;
      z-index: 99;

      .card-text {
        margin-top: 25px;
      }

      @media screen and (max-width: 1050px) {
        max-width: 100%;
        top: 40px;
        left: 50px;
        right: 50px;
      }

      @media screen and (max-width: 768px) {
        max-width: 100%;
        top: 30px;
        left: 30px;
        right: 30px;
      }

      @media screen and (max-width: 460px) {
        .card-text {
          font-size: 14px;
        }
      }
    }

    .droplets-container {
      position: relative;
      width: 100%;
      height: 100%;
      z-index: 1;
      transform: rotate(12deg);
      margin: 0;

      .drop-zone {
        position: absolute;
        height: 804px;
        width: 514px;
        top: -223px;
        right: -62px;

        .drop {
          width: 60px;
          height: 60px;
          margin: 0;
          position: absolute;
          top: 0;
          animation: drop 4s ease-in-out infinite;

          background-color: #d0d7dd;
          opacity: 0.8;
          border-radius: 50%;

          //center child
          display: flex;
          justify-content: center;
          align-items: center;
          background-size: cover;

          img {
            animation: drop-img 4s ease-in-out infinite;
          }

          //for loop
          @for $i from 1 through 10 {
            &:nth-child(#{$i}) {
              left: calc(random() * 100%);
              /* animation-delay: calc(random() * 10s);
              animation-duration: calc(4s + (random() * 1s)); */

              animation-delay: $i * 0.5s;
              animation-duration: 4s + ($i * 0.2s);

              img {
                animation-delay: $i * 0.5s;
                animation-duration: 4s + ($i * 0.2s);
              }
            }
          }
        }
      }

      .mask-line {
        z-index: 10;
        top: calc(50% - 300px);
        height: 300px;
        border-radius: 3px;
        border-bottom: 4px solid white;
        background: linear-gradient(
          180deg,
          hsla(0, 0%, 100%, 0),
          hsla(0, 0%, 100%, 0.14) 47.92%,
          hsla(0, 0%, 100%, 0.24)
        );
        position: relative;
        left: 50%;
        right: 50%;
        margin-left: -100%;
        margin-right: -50vw;
        padding: 0 100%;
      }
    }
  }
}

.card-header {
  justify-content: start;
  text-align: left;
  //vertical center text
  display: flex;
  align-items: center;
  max-height: 36px;

  .card-icon {
    max-width: fit-content;
  }

  .card-title {
    font-family: "Inter Medium";
    font-size: var(--sm-card-title-font-size);
    padding-left: 15px;
    color: var(--card-title-color);
  }

  &.header-large {
    .card-title {
      font-size: var(--lg-card-title-font-size);
    }
  }
}

.card-text {
  font-family: "Inter Regular";
  font-size: var(--card-content-font-size);
  text-align: left;
  color: var(--card-content-color);
  margin-top: 30px;
  line-height: 29px;
  letter-spacing: -2.5%;
  flex-shrink: 3;
}

.card-graphic {
  max-width: 100%;
  height: 100%;
  flex-shrink: 1;
  margin-top: 30px;
}

@keyframes drop {
  0% {
    transform: translateY(0px);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  100% {
    transform: translateY(893px);
  }
}

@keyframes drop-img {
  0% {
    opacity: 0;
  }
  45% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
